.GradesRoom {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    .horizontalFlex {
        display: flex;
        width: 100%;
        justify-content: space-around;
        overflow-y: auto;
        max-height: 250px;
    }

    .grades {
        width: 90%;
        /* flex-grow: 1; */
    }

    .gradeTable .row:first-child {
        font-weight: bold;
    }

    .mainPanel {
        overflow-y: auto;
        max-height: 300px;
    }

    .gradeTable {
        flex-grow: 1;
    }

    .row>* {
        padding: 0;
    }

    .col>.btn {
        padding: 0;
    }
}