/* Applied to all pages in App (so all either way)*/
/* Account for the navbar, otherwise fill all the screen */
.App {
    width: 100%;
    height: calc(100% - 40px);
    position: absolute;
    top: 40px;
}

div.container a{
    font-size: 3rem;
}