.chatRoom {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.input-group {
    width: 400px;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

p {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: large;
}

.sender p {
    border-radius: 0.5rem 0.5rem 0 0.5rem;
}

.recipient p {
    border-radius: 0.5rem 0.5rem 0.5rem 0;
}

#leftPanel,
.newContact {
    width: 250px;
}

#leftPanel {
    #contacts {
        margin-top: 25px;
    }

    .warning {
        color: red;
        transition: opacity 1s ease-in-out;
        /* Apply a 1-second fade-out transition */
    }
}


/* The one with the chat inside */
#middlePanel {
    width: 70vw;

    #messageInput {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    #messageContainer {
        width: 100%;
        flex-grow: 1;
        overflow-y: auto;
        /* Enable vertical scrolling */


        .sender {
            display: flex;
            justify-content: flex-end;
            margin-right: 5px;
        }

        .recipient {
            display: flex;
            justify-content: flex-start;
            margin-left: 5px;
        }

        .timeDisplay {
            font-size: small;
        }
    }
}

.timeDisplay {
    margin: 0;
    padding: 0;
}

div.recipient .textDisplay {
    background-color: rgba(238, 237, 237, 0.7);
}

div.sender .textDisplay {
    background-color: rgba(137, 184, 255, 0.685);
}

@media (prefers-color-scheme: dark) {
    div.recipient .textDisplay {
        background-color: rgb(108, 117, 125);
    }

    div.sender .textDisplay {
        background-color: rgb(11, 94, 216);
    }
}