.chatRoom {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.input-group {
    width: 400px;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

p {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: large;
}

#middlePanel {
    #messageInput {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .message-container {
        width: 100%;
        flex-grow: 1;
        overflow-y: scroll;
        /* Enable vertical scrolling */


        .sender {
            display: flex;
            justify-content: flex-end;
            margin-right: 5px;
        }

        .recipient {
            display: flex;
            justify-content: flex-start;
            margin-left: 5px;
        }
    }
}

div.recipient p {
    border: solid 2px grey;
}

div.sender p {
    border: solid 2px blue;
}

#rightPanel {
    align-items: normal;


    .sentMessages p {
        border: solid 1px blue;
        border-radius: 3px;
    }

    .receivedMessages p {
        border: solid 1px green;
        border-radius: 3px;
    }
}