.CallRoom {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .overflow {
        position: absolute;
        font-weight: bolder;
        z-index: 1;
    }

    .overflowTopCenter {
        height: 0;
        text-align: center;
        position: relative;
        font-weight: bolder;
        z-index: 1;
        color: black;
    }

    .btn-outline-dark {
        border: 0px;
    }

    .btn {
        margin: 3px;
    }

    .modal-footer {
        justify-content: space-between;
    }

    @media (prefers-color-scheme: dark) {
        .modal-content {
            background-color: rgb(51, 51, 51);
            color: #fff;
        }

        .btn-close {
            filter: invert(1);
        }
    }

    .center {
        text-align: center;
    }

    #videos {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

video {
    width: 320px;
}

#CourseSelection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}